*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
 justify-content: center;
 align-items: center;
 background-image: url(./images/vegBG.png);
 background-size:100%;
background-repeat: no-repeat;
background-position: bottom;
}
#inputContainer{
    width: 650px;
    height: 700px;
    background: linear-gradient(90deg, #0600b87b 0%, #00ff8876 100%);
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   border-bottom: 5px solid limegreen;
   border-right: 5px solid limegreen;
   border-left: 5px solid blue;
   border-top: 5px solid blue;
   border-radius: 25px;
   position: absolute;
right: 80px;
filter: drop-shadow(10px 10px 10px limegreen);
}
form{
    width: 650px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 50px;
    z-index: 2;
}
input,textarea,select{
    width: 350px;
    height: 35px;
    border: none;
    outline: none;
  border-radius: 10px;
  border-bottom: 1px solid black;
  box-shadow: 3px 3px 2px grey;
  text-align: center;
 
}
button,#reset{
    width: 65px;
    height: 30px;
  

font-weight: bold;
background-color: blue;
color: white;
box-shadow: 2px 2px 2px black;

}
#reset{
    border-radius: 0px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 70px;
    right: 180px;
    left: auto;
    
}
button{
  display: flex;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  left: 200px;
  bottom: 70px;
  text-align: center;
  align-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  
}
#category{
    display: flex;
    text-align: center;
}
#pizza{
    width: 350px;
    height: 350px;
    display: flex;
    position: absolute;
    top: 150px;
    left: 50px;
    z-index: -1;
animation: pizzaRotation 3s linear 1;
}
@keyframes pizzaRotation {
    0%{
        position: absolute;
    top: 0px;
    left: 50px;
    transform: rotate(0deg);

    }
    25%{
        position: absolute;
    top: 37px;
    left: 50px;
    transform: rotate(90deg);

    }
    50%{
        position: absolute;
    top: 75px;
    left: 50px;
    transform: rotate(180deg);

    }
    75%{
        position: absolute;
    top: 110px;
    left: 50px;
    transform: rotate(270deg);

    }
    100%{
        position: absolute;
    top: 150px;
    left: 50px;
    transform: rotate(360deg);

    }
    
}
#qoute1{
    display: flex;
    position: absolute;
    left:400px;
    top: 265px;
    z-index: 0;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    animation: qoute1 3s linear  1;
    font-weight: bold;
}

#qoute2{
    display: flex;
    position: absolute;
    left:400px;
    top: 305px;
    animation: qoute2 3s linear  1;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    font-weight: bold;

}
@keyframes qoute1 {

    from{
        filter: blur(10);
        display: none;
        position: absolute;
        left:0px;
        top: 305px;
        visibility:hidden ;
    }
    to{
        filter: blur(0);

        display: flex;
    position: absolute;
    left:400px;
    top: 305px;
    visibility: visible;

    }
    
}
@keyframes qoute2 {

    from{
        filter: blur(10);
        display: none;
        position: absolute;
    left:0px;
    top: 265px;
visibility: hidden;
    }
    to{
        filter: blur(0);

        display: flex;
    position: absolute;
    left:400px;
    top: 265px;
visibility: visible;
    }
    
}